.piano {
	display: flex;
	flex-direction: row;
	position: relative;
}

.octave {
	position: relative;
	height: 12rem;
}

.white-keys {
	display: flex;
	position: relative;
	height: 100%;
}

.black-keys {
	display: flex;
	position: absolute;
	top: 0px;
	height: 55%;
	width: 100%;
	justify-content: center;
}

.gap {
	width: 1.75rem;
}

.key {
	display: flex;
	width: 2.5rem;
	align-items: flex-end;
	justify-content: center;
	color: #808080;
	font-family: sans-serif;
	font-size: 0.6rem;
	user-select: none;
	padding: 0.5rem;
}

.black, .white {
	border: 1px solid #f0f0f0;
	border-radius: 0 0 0.25rem 0.25rem;
}

.black {
	background-color: #101010;
}

.black:hover {
	background-color: #202020;
}

.black:active {
	background-color: #101010;
}

.white {
	background-color: #FFFFFF;
}

.white:hover {
	background-color: #F0F0F0;
}

.white:active {
	background-color: #FFFFFF;
}

.white.pressed{
	background-color: #e0e0e0 !important;
}

.black.pressed{
	background-color: #303030 !important;
}

